# Created by https://www.toptal.com/developers/gitignore/api/rust
# Edit at https://www.toptal.com/developers/gitignore?templates=rust

# Rust builds
/target/

# Editorconfig
.editorconfig

# Environment
*.env

# Logs
logs/
**/logs

# End of https://www.toptal.com/developers/gitignore/api/rust
