# Created by https://www.toptal.com/developers/gitignore/api/rust
# Edit at https://www.toptal.com/developers/gitignore?templates=rust

# Rust builds
**/target/

# Editorconfig
.editorconfig

# Environment
*.env
**/*.env

# Logs
logs/
**/logs

# Config
config/*.yml
!config/default.yml

# End of https://www.toptal.com/developers/gitignore/api/rust
